<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}</h2>
  </div>
</div>

<div class="row mt-4">
  {{#if plants.length}}
  <div class="col-md-6 plant-list">
    <h3>Current plants:</h3>

    {{#each plants as |plant|}}
    <div class="plantCard" style="width: 18rem; margin:auto;">
      <img class="plant-image card-img-top" src="{{plant.image}}" alt="">
      <div class="card-body">
        <h5 class="plant-name">{{plant.name}}</h5>
        <p class="plant-url card-text">URL: <a href="{{plant.url}}" target="_blank">More Info</a></p>
        <p class="plant-comment">Comment: {{plant.comment}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="col-md-6 plant-list">
    <p>No saved plants.</p>
 
  </div>
  {{/if}}
</div>
<script src="./js/profile.js"></script>